.bottom {
  border-top: 2px solid black;
  padding: 20px 120px;
}

.footer {
  display: flex;
  gap: 120px;
  margin-bottom: 15px;
   display: flex;
  flex-direction: column;
}


.footer a {
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
}
