.bottom {
  display: flex;
  gap: 120px;
  border-top: 2px solid black;
  padding-left: 50px;
  text-decoration: none;
}


.newsletter a,
.contact a,
.acess a,
.resources a {
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}

