

.bottom {
  border-top: 2px solid black;
  display: flex;
  gap: 120px;
  text-align: left;

}

.bottom a {
  text-decoration: none;
  color: black;

}

.newsletter {
    display: flex;
    margin-left: 120px;

}

.acess {
    display: flex;
    margin-left: 120px;
}

