.doctor {
    display: block;
    margin: 40px auto;
    border-radius: 600px;
    width: 500px;
    height: auto;
}

.welcome {
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.welcome h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.6;
}

.welcomeHeader {
    text-decoration: underline;
    color: #A58A89;
}

.number {
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;

}

.nu {
    display: block;
    text-decoration: underline;
}

.serv{
  display: flex;
  gap: 40px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  text-decoration: none;
  color: black;
}

.services {
  text-decoration: none;
  color: black;
}

.servicess {
  text-decoration: none;
  color: black;
}

.Services {
  margin-left: 20px;
  margin-bottom: 100px;
  color: black;
}

.call {
  text-decoration: underline;
  color: #373E4F;
  font-size: 25px;
}

.Services img {
  height: 300px;
  width: 300px;
}

