    body {
      display: block;   
      background-color:white;
    }

    .box {
      width: 600px;
      height: 600px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      display: flex;   
      margin-left: 500px;

    }

    .title{
        margin-left: 200px;
        font-family: Arial, sans-serif;
        font-size: 40px;
        color: black;
        margin-bottom: 200px;

    }
.Register form input {
  width: 350px;       
  display: flex;
  height: 50px;        
  font-size: 18px;     
  padding: 10px;        
  margin-bottom: 15px;  
  border: 1px solid #ccc;
  border-radius: 8px;

}

.Register {
  display: flex;
  gap: 15px;              
  margin-top: -50px;
  margin-left: -200px;
  align-items: center;   
}

.submit {
  width: 150px;         
  height: 50px;        
  font-size: 18px;     
  background-color: #27567D; 
  color: white;        
  border: none;        
  border-radius: 8px;      
  margin-left: 100px; 
    cursor: pointer;
}

.Register {
  margin-top: 100px;
margin-left: -270px;
    display: block;
align-items: center;
  font-size: 16px;    
  color: white;
  cursor: pointer;
}

.Register select,
.Register input {
  width: 350px;       
  height: 50px;          
  font-size: 18px;       
  padding: 10px;
  margin-bottom: 15px;    
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.Register button {
  width: 150px;          
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;        
}

.Register button:hover {
  background-color: #0056b3; 
}

.success {
  margin-left: 30px;
  margin-top: 30px;
  color: green;
  font-weight: bold;
    text-align: center;
  font-size: 18px;
}
.error {
    margin-left: 30px;
  margin-top: 30px;
  color: red;
  font-weight: bold;
    text-align: center;
  font-size: 18px;
}

